<div class="info-card p-4 shadow-sm rounded">
  <h5 class="mb-3">Contact Us</h5>
  <p class="small">Have questions or need help? Reach out anytime.</p>

  <ul class="list-unstyled small">
    <li class="mb-2">
      <i class="bi bi-whatsapp text-success"></i>
      <strong>WhatsApp:</strong> 073 603 2714
    </li>
    <li class="mb-2">
      <i class="bi bi-envelope text-primary"></i>
      <strong>Email:</strong> vixastore2025{{'@'}}gmail.com
    </li>
    <li>
      <i class="bi bi-telephone text-dark"></i>
      <strong>Phone:</strong> 073 603 2714
    </li>
  </ul>
</div>
